<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santa Friska Manurung Website</title>
</head>

<body>
    <nav>
        <a href="/index">Home</a> |
        <a href="cv-Santa.pdf">Download CV</a> |
        <a href="/contact">Contact</a> |
        <a href="/about">About me</a>
    </nav>

    <hr />

    <header style="text-align: center;">
        <img src="/assets/profile.jpeg" width="200" height="200" style="border-radius: 50%;"/>
        <h1>Santa Friska Manurung</h1>
        <p>(Web Developer)</p>
    </header>

    <hr />

    <article style="text-align: center;">
        <h2>Overview</h2>
        <p>
            Hi, saya adalah web developer. Saat ini sedang belajar HTML di Petani Kode.
            
        </p>
    </article>

    <div style="max-width: 600px; margin: 3em auto">
        <table border="1" width="100%">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Pengalaman</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <ul>
                            <li>HTML (Expert)</li>
                            <li>CSS (Beginner)</li>
                            <li>Javascript (Beginner)</li>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <li>Pernah Bekerja di PT Anabatic Technologies</li>
                            <li>Menjadi Leader di Komunitas</li>
                            <li>Kontributor Open Source</li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>
    <footer style="text-align: center;">
        <p>Copyright &copy; 2022 Santa Friska Manurung.</p>
    </footer>
</body>
</html>